html, body {
  height: 100%;
}

body {
  padding-top: $navbar-height;
}

.navbar-brand{
  width: $menu-width;
  text-align: center;
}

.menu {
  position: fixed;
  display: none;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  width: $menu-width;
  background: $navbar-inverse-bg;
  color: $navbar-inverse-color;
  ul {
    li > a {
      padding: 5px 15px;
    }
  }

  @media (min-width: $screen-sm-min) {
    display: block;
  }
}
  
.menu, #documentation-menu{
  ul {
    > li > a {
      color: $navbar-inverse-link-color;
      text-decoration: none;
      &:hover,
      &:focus {
        color: $navbar-inverse-link-hover-color;
        background-color: $navbar-inverse-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-inverse-link-active-color;
        background-color: $navbar-inverse-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-inverse-link-disabled-color;
        background-color: $navbar-inverse-link-disabled-bg;
      }
    }
	
	ul{
      > li > a {
        padding-left: 30px;
        font-size: 0.85em;
      }

      ul{
        > li > a {
          padding-left: 45px;
          font-size: 0.7em;
        }
      }
    } 	
  }
}

#documentation-menu .tocify-header{
  @media (min-width: $screen-sm-min) {
    display: none !important; //Per sovrascrivere il display: block !important; dato da bootstrap
  }
}

.button-list{
  .btn{
    margin-bottom: 6px;
  }
}

.body-full-height {
  min-height: 100%;
  margin-bottom: -($line-height-computed * 2);
  padding-bottom: ($line-height-computed * 2);
  @media (min-width: $screen-sm-min) {
    margin-left: $menu-width;
  }
}

.hljs{
  background: transparent;
  padding: 0;
}

.footer {
  padding-top: ($line-height-computed / 2);
  background: $navbar-inverse-bg;
  color: $navbar-inverse-color;
}